hhlaApp/handheld.json
[
    {
        "id": "1bec2cca.f3e213",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "retrieve_id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.order_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 487,
        "y": 723.5,
        "wires": [
            [
                "7f900ce2.eb64b4"
            ]
        ]
    },
    {
        "id": "eedadc7a.b0bcd",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "retrieve_containerNbr",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "washorder.container_id",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 518,
        "y": 763,
        "wires": [
            [
                "c4866796.b3abd8"
            ]
        ]
    },
    {
        "id": "7f900ce2.eb64b4",
        "type": "ui_text",
        "z": "a97e3696.0473a8",
        "group": "432b28ab.b0a068",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Auftragsnummer",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 718,
        "wires": []
    },
    {
        "id": "c4866796.b3abd8",
        "type": "ui_text",
        "z": "a97e3696.0473a8",
        "group": "432b28ab.b0a068",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ContainerID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 739,
        "y": 763,
        "wires": []
    },
    {
        "id": "56ab9c49.da0674",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "washorder",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 287,
        "y": 563,
        "wires": [
            [
                "1bec2cca.f3e213",
                "eedadc7a.b0bcd",
                "6a4e0a75.4471e4",
                "55734382.7c675c",
                "f9bc9842.f38fc8",
                "41fe480a.1230a8"
            ]
        ]
    },
    {
        "id": "55734382.7c675c",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "retrieve_containerType",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "washorder.container_type",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 515,
        "y": 803,
        "wires": [
            [
                "d0b5bec2.5b497"
            ]
        ]
    },
    {
        "id": "d0b5bec2.5b497",
        "type": "ui_text",
        "z": "a97e3696.0473a8",
        "group": "432b28ab.b0a068",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ContainerTyp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 805,
        "wires": []
    },
    {
        "id": "b4eb800f.cc5ec",
        "type": "ui_button",
        "z": "a97e3696.0473a8",
        "name": "",
        "group": "432b28ab.b0a068",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Weiter",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "WashorderEdit",
        "payloadType": "str",
        "topic": "",
        "x": 439,
        "y": 932,
        "wires": [
            [
                "17950a2.aeddff6"
            ]
        ]
    },
    {
        "id": "17950a2.aeddff6",
        "type": "ui_ui_control",
        "z": "a97e3696.0473a8",
        "name": "",
        "x": 631,
        "y": 930.5,
        "wires": [
            []
        ]
    },
    {
        "id": "2c31104e.5b56e",
        "type": "ui_dropdown",
        "z": "a97e3696.0473a8",
        "name": "",
        "label": "Schwallwände",
        "place": "",
        "group": "92f7eb85.10a6a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "None",
                "value": "none",
                "type": "str"
            },
            {
                "label": "Gebogen",
                "value": "gebogen",
                "type": "str"
            },
            {
                "label": "Gerade",
                "value": "gerade",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 460,
        "y": 1041,
        "wires": [
            [
                "21f3e7a3.8d8698"
            ]
        ]
    },
    {
        "id": "6a4e0a75.4471e4",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "retrieve_schwallwaende",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "washorder.schwallwaende",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 269,
        "y": 974,
        "wires": [
            [
                "2c31104e.5b56e"
            ]
        ]
    },
    {
        "id": "d99ecf6f.bb982",
        "type": "ui_ui_control",
        "z": "a97e3696.0473a8",
        "name": "",
        "x": 604,
        "y": 1089,
        "wires": [
            []
        ]
    },
    {
        "id": "6968d41a.f7900c",
        "type": "ui_button",
        "z": "a97e3696.0473a8",
        "name": "",
        "group": "92f7eb85.10a6a8",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zurück",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "WaschorderDisplay",
        "payloadType": "str",
        "topic": "",
        "x": 433,
        "y": 1090,
        "wires": [
            [
                "d99ecf6f.bb982"
            ]
        ]
    },
    {
        "id": "9dc90d54.342d8",
        "type": "ui_button",
        "z": "a97e3696.0473a8",
        "name": "",
        "group": "92f7eb85.10a6a8",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Weiter",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "WashorderEdit2",
        "payloadType": "str",
        "topic": "",
        "x": 432,
        "y": 1133,
        "wires": [
            [
                "275474b8.683ddc"
            ]
        ]
    },
    {
        "id": "275474b8.683ddc",
        "type": "ui_ui_control",
        "z": "a97e3696.0473a8",
        "name": "",
        "x": 606,
        "y": 1131,
        "wires": [
            []
        ]
    },
    {
        "id": "1011a7ca.aba2f8",
        "type": "ui_text",
        "z": "a97e3696.0473a8",
        "group": "432b28ab.b0a068",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Inhalt",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 847,
        "wires": []
    },
    {
        "id": "f9bc9842.f38fc8",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "retrieve_content",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "washorder.content",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 495,
        "y": 843,
        "wires": [
            [
                "1011a7ca.aba2f8"
            ]
        ]
    },
    {
        "id": "41fe480a.1230a8",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "retrieve_verschmutzung",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "washorder.verschmutzung",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 247,
        "y": 1226,
        "wires": [
            [
                "f6dfff54.ba3c5"
            ]
        ]
    },
    {
        "id": "f6dfff54.ba3c5",
        "type": "ui_dropdown",
        "z": "a97e3696.0473a8",
        "name": "",
        "label": "Verschmutzungsgrad",
        "place": "Select option",
        "group": "7f5bf40b.088e5c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Leicht",
                "value": "leicht",
                "type": "str"
            },
            {
                "label": "Mittel",
                "value": "mittel",
                "type": "str"
            },
            {
                "label": "Stark",
                "value": "stark",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 512,
        "y": 1227,
        "wires": [
            [
                "94e01126.c5e59"
            ]
        ]
    },
    {
        "id": "90072df4.bceec",
        "type": "ui_template",
        "z": "a97e3696.0473a8",
        "group": "6b3a8fb2.b664c",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<img src=\"{{msg.payload}}\"  width=\"290\" >",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 410,
        "y": 1542,
        "wires": [
            []
        ]
    },
    {
        "id": "acd81292.1215e",
        "type": "ui_button",
        "z": "a97e3696.0473a8",
        "name": "",
        "group": "fbb996b8.310dc8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-camera",
        "payload": "WaschorderPhoto2",
        "payloadType": "str",
        "topic": "",
        "x": 381,
        "y": 1382,
        "wires": [
            [
                "ab402d21.5b7c3",
                "e4dae794.036038"
            ]
        ]
    },
    {
        "id": "ab402d21.5b7c3",
        "type": "ui_ui_control",
        "z": "a97e3696.0473a8",
        "name": "",
        "x": 571,
        "y": 1382,
        "wires": [
            []
        ]
    },
    {
        "id": "eae2f183.b2eba",
        "type": "ui_ui_control",
        "z": "a97e3696.0473a8",
        "name": "",
        "x": 582,
        "y": 1274,
        "wires": [
            []
        ]
    },
    {
        "id": "26cba5e4.6da9da",
        "type": "ui_button",
        "z": "a97e3696.0473a8",
        "name": "",
        "group": "7f5bf40b.088e5c",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zurück",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "WashorderEdit",
        "payloadType": "str",
        "topic": "",
        "x": 411,
        "y": 1275,
        "wires": [
            [
                "eae2f183.b2eba"
            ]
        ]
    },
    {
        "id": "8232768f.03cca8",
        "type": "ui_button",
        "z": "a97e3696.0473a8",
        "name": "",
        "group": "7f5bf40b.088e5c",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Weiter",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "WashorderPhoto",
        "payloadType": "str",
        "topic": "",
        "x": 392,
        "y": 1317,
        "wires": [
            [
                "b3a43f70.22a45"
            ]
        ]
    },
    {
        "id": "b3a43f70.22a45",
        "type": "ui_ui_control",
        "z": "a97e3696.0473a8",
        "name": "",
        "x": 584,
        "y": 1316,
        "wires": [
            []
        ]
    },
    {
        "id": "465fc98c.8c9908",
        "type": "ui_ui_control",
        "z": "a97e3696.0473a8",
        "name": "",
        "x": 573,
        "y": 1611,
        "wires": [
            []
        ]
    },
    {
        "id": "d0ac1b2.2ad11e8",
        "type": "ui_button",
        "z": "a97e3696.0473a8",
        "name": "",
        "group": "6b3a8fb2.b664c",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zurück",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "WashorderPhoto",
        "payloadType": "str",
        "topic": "",
        "x": 375,
        "y": 1647,
        "wires": [
            [
                "465fc98c.8c9908",
                "f2ce98c5.ef1768"
            ]
        ]
    },
    {
        "id": "bdf2f9d4.9eeed8",
        "type": "ui_button",
        "z": "a97e3696.0473a8",
        "name": "",
        "group": "6b3a8fb2.b664c",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Speichern",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "WaschorderDisplay",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 1684,
        "wires": [
            [
                "2f4d1b93.f53544",
                "75e4526e.aba6bc"
            ]
        ]
    },
    {
        "id": "e4dae794.036038",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "https://pbs.twimg.com/media/DbTs5tZX0AUXykm.jpg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 186,
        "y": 1543,
        "wires": [
            [
                "90072df4.bceec",
                "68b9cfeb.7a55e"
            ]
        ]
    },
    {
        "id": "e0274b69.8005b8",
        "type": "ui_ui_control",
        "z": "a97e3696.0473a8",
        "name": "",
        "x": 552,
        "y": 1432,
        "wires": [
            []
        ]
    },
    {
        "id": "52cfc241.4a288c",
        "type": "ui_button",
        "z": "a97e3696.0473a8",
        "name": "",
        "group": "fbb996b8.310dc8",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zurück",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "WashorderEdit2",
        "payloadType": "str",
        "topic": "",
        "x": 381,
        "y": 1433,
        "wires": [
            [
                "e0274b69.8005b8"
            ]
        ]
    },
    {
        "id": "8f85fdbc.4dcc9",
        "type": "ui_button",
        "z": "a97e3696.0473a8",
        "name": "",
        "group": "fbb996b8.310dc8",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Weiter",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "WashorderPhoto2",
        "payloadType": "str",
        "topic": "",
        "x": 362,
        "y": 1475,
        "wires": [
            [
                "4200ca03.efbba4",
                "f2ce98c5.ef1768"
            ]
        ]
    },
    {
        "id": "4200ca03.efbba4",
        "type": "ui_ui_control",
        "z": "a97e3696.0473a8",
        "name": "",
        "x": 554,
        "y": 1474,
        "wires": [
            []
        ]
    },
    {
        "id": "f2ce98c5.ef1768",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 178,
        "y": 1591,
        "wires": [
            [
                "90072df4.bceec",
                "68b9cfeb.7a55e"
            ]
        ]
    },
    {
        "id": "2c818b8.750cd74",
        "type": "cloudant out",
        "z": "a97e3696.0473a8",
        "name": "washorder",
        "cloudant": "",
        "database": "ibm-hackathon-hhla2",
        "service": "IBM-Hackathon-cloudantNoSQLDB",
        "payonly": true,
        "operation": "insert",
        "x": 803,
        "y": 1712,
        "wires": []
    },
    {
        "id": "21f3e7a3.8d8698",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "washorder.schwallwaende",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 756,
        "y": 1039,
        "wires": [
            []
        ]
    },
    {
        "id": "94e01126.c5e59",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "washorder.verschmutzung",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 869,
        "y": 1215,
        "wires": [
            []
        ]
    },
    {
        "id": "68b9cfeb.7a55e",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "washorder.foto_ vor",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 663,
        "y": 1539,
        "wires": [
            []
        ]
    },
    {
        "id": "2f4d1b93.f53544",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "washorder",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 597,
        "y": 1711,
        "wires": [
            [
                "2c818b8.750cd74",
                "d6c94990.b926b8"
            ]
        ]
    },
    {
        "id": "75e4526e.aba6bc",
        "type": "ui_ui_control",
        "z": "a97e3696.0473a8",
        "name": "",
        "x": 591,
        "y": 1658,
        "wires": [
            []
        ]
    },
    {
        "id": "992eb825.59af28",
        "type": "cloudant in",
        "z": "a97e3696.0473a8",
        "name": "",
        "cloudant": "",
        "database": "ibm-hackathon-hhla2",
        "service": "IBM-Hackathon-cloudantNoSQLDB",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 248,
        "y": 425,
        "wires": [
            [
                "71a5b8ae.e35d78"
            ]
        ]
    },
    {
        "id": "b88f42cd.34615",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "12",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 421,
        "y": 356,
        "wires": [
            []
        ]
    },
    {
        "id": "e408fbb8.4598e8",
        "type": "http in",
        "z": "a97e3696.0473a8",
        "name": "",
        "url": "/cam",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200.5,
        "y": 215,
        "wires": [
            [
                "c94f0a65.85ffb8"
            ]
        ]
    },
    {
        "id": "e6f460be.285ac",
        "type": "http response",
        "z": "a97e3696.0473a8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 586.5,
        "y": 217,
        "wires": []
    },
    {
        "id": "c94f0a65.85ffb8",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "camtrigger",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 372,
        "y": 217,
        "wires": [
            [
                "e6f460be.285ac"
            ]
        ]
    },
    {
        "id": "35e12db4.ca8192",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camtrigger",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 744,
        "y": 49,
        "wires": [
            []
        ]
    },
    {
        "id": "75be2859.d3e868",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "camtrigger",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 359,
        "y": 275,
        "wires": [
            [
                "975731bc.3f3d"
            ]
        ]
    },
    {
        "id": "9a2aa754.ccd5e8",
        "type": "http in",
        "z": "a97e3696.0473a8",
        "name": "",
        "url": "/id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 167.5,
        "y": 275,
        "wires": [
            [
                "75be2859.d3e868",
                "fbcfc894.21c968"
            ]
        ]
    },
    {
        "id": "c995d92d.977af8",
        "type": "http response",
        "z": "a97e3696.0473a8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 777.5,
        "y": 278,
        "wires": []
    },
    {
        "id": "975731bc.3f3d",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camtrigger",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 582,
        "y": 279,
        "wires": [
            [
                "c995d92d.977af8"
            ]
        ]
    },
    {
        "id": "a6a0af42.ff743",
        "type": "ui_button",
        "z": "a97e3696.0473a8",
        "name": "",
        "group": "2317997a.62b126",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Lade Waschauftrag",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Home",
        "payloadType": "str",
        "topic": "",
        "x": 229.00001525878906,
        "y": 39.000000953674316,
        "wires": [
            [
                "35e12db4.ca8192"
            ]
        ]
    },
    {
        "id": "e2235962.be0238",
        "type": "ui_ui_control",
        "z": "a97e3696.0473a8",
        "name": "",
        "x": 812,
        "y": 485,
        "wires": [
            []
        ]
    },
    {
        "id": "3fc4e06b.0155c",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "WaschorderDisplay",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 608.0000152587891,
        "y": 489.0000286102295,
        "wires": [
            [
                "e2235962.be0238"
            ]
        ]
    },
    {
        "id": "fbcfc894.21c968",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 179,
        "y": 329,
        "wires": [
            [
                "992eb825.59af28"
            ]
        ]
    },
    {
        "id": "71a5b8ae.e35d78",
        "type": "switch",
        "z": "a97e3696.0473a8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "null",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "null",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 449,
        "y": 426,
        "wires": [
            [
                "3fc4e06b.0155c",
                "56ab9c49.da0674",
                "d6c94990.b926b8"
            ],
            [
                "d7f4dc4d.26416"
            ]
        ]
    },
    {
        "id": "d7f4dc4d.26416",
        "type": "ui_toast",
        "z": "a97e3696.0473a8",
        "position": "top right",
        "displayTime": "30",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Waschorder nicht gefunden",
        "name": "",
        "x": 746,
        "y": 434,
        "wires": []
    },
    {
        "id": "1944a791.37e288",
        "type": "ui_button",
        "z": "a97e3696.0473a8",
        "name": "",
        "group": "2317997a.62b126",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Auftragsliste anzeigen",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 219,
        "y": 88,
        "wires": [
            [
                "3b0717ae.23b828",
                "975731bc.3f3d"
            ]
        ]
    },
    {
        "id": "753b2ce9.662d64",
        "type": "http request",
        "z": "a97e3696.0473a8",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "url": "hhla-hackathon18.eu-gb.mybluemix.net/all",
        "tls": "",
        "x": 744.5,
        "y": 90,
        "wires": [
            [
                "cb24a0e8.b0adf"
            ]
        ]
    },
    {
        "id": "3b0717ae.23b828",
        "type": "cloudant in",
        "z": "a97e3696.0473a8",
        "name": "",
        "cloudant": "",
        "database": "ibm-hackathon-hhla2",
        "service": "IBM-Hackathon-cloudantNoSQLDB",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 489,
        "y": 89,
        "wires": [
            [
                "753b2ce9.662d64"
            ]
        ]
    },
    {
        "id": "d6c94990.b926b8",
        "type": "http request",
        "z": "a97e3696.0473a8",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "url": "hhla-hackathon18.eu-gb.mybluemix.net/order",
        "tls": "",
        "x": 1008,
        "y": 1021,
        "wires": [
            [
                "230d174d.c465a8"
            ]
        ]
    },
    {
        "id": "cb24a0e8.b0adf",
        "type": "http response",
        "z": "a97e3696.0473a8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 913,
        "y": 90,
        "wires": []
    },
    {
        "id": "2dac0999.e2d996",
        "type": "change",
        "z": "a97e3696.0473a8",
        "name": "Nebeneingang statt Kamera",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "arm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 125,
        "y": 493,
        "wires": [
            [
                "992eb825.59af28"
            ]
        ]
    },
    {
        "id": "d8c70c87.fe836",
        "type": "ui_ui_control",
        "z": "a97e3696.0473a8",
        "name": "",
        "x": 612,
        "y": 884,
        "wires": [
            []
        ]
    },
    {
        "id": "46c5bb0d.afa624",
        "type": "ui_button",
        "z": "a97e3696.0473a8",
        "name": "",
        "group": "432b28ab.b0a068",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Zurück",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Home",
        "payloadType": "str",
        "topic": "",
        "x": 441,
        "y": 885,
        "wires": [
            [
                "d8c70c87.fe836"
            ]
        ]
    },
    {
        "id": "230d174d.c465a8",
        "type": "debug",
        "z": "a97e3696.0473a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1232.1805572509766,
        "y": 756.2257308959961,
        "wires": []
    },
    {
        "id": "bcbc204e.a74b1",
        "type": "ui_template",
        "z": "a97e3696.0473a8",
        "group": "2317997a.62b126",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .button{\n        color: orange;\n        border-radius: 12px;\n    }\n</style>\n<script>\n    $(\"button\").addClass(\"button\");\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1168.1910552978516,
        "y": 213.77086639404297,
        "wires": [
            []
        ]
    },
    {
        "id": "432b28ab.b0a068",
        "type": "ui_group",
        "z": "",
        "name": "Waschauftrag",
        "tab": "dd65cf56.1e71a",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "92f7eb85.10a6a8",
        "type": "ui_group",
        "z": "",
        "name": "Überprüfe Auftrag",
        "tab": "73fd0900.6d9948",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7f5bf40b.088e5c",
        "type": "ui_group",
        "z": "",
        "name": "Überprüfe Auftrag",
        "tab": "160a6fd5.f0ffb",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6b3a8fb2.b664c",
        "type": "ui_group",
        "z": "",
        "name": "Auftrag abschließen",
        "tab": "d7e1255a.ada878",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fbb996b8.310dc8",
        "type": "ui_group",
        "z": "",
        "name": "Fotografiere Zustand",
        "tab": "88586517.5f8dc8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2317997a.62b126",
        "type": "ui_group",
        "z": "",
        "name": "Start",
        "tab": "c1a41c0e.e7ed7",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dd65cf56.1e71a",
        "type": "ui_tab",
        "z": "",
        "name": "WaschorderDisplay",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "73fd0900.6d9948",
        "type": "ui_tab",
        "z": "",
        "name": "WashorderEdit",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "160a6fd5.f0ffb",
        "type": "ui_tab",
        "z": "",
        "name": "WashorderEdit2",
        "icon": "dashboard",
        "order": 5
    },
    {
        "id": "d7e1255a.ada878",
        "type": "ui_tab",
        "z": "",
        "name": "WaschorderPhoto2",
        "icon": "dashboard",
        "order": 7
    },
    {
        "id": "88586517.5f8dc8",
        "type": "ui_tab",
        "z": "",
        "name": "WashorderPhoto",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "c1a41c0e.e7ed7",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    }
]
